/* RESETANDO AS MARGENS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto Condensed;

}

/* IMPORTANDO FONTES PARA O PROJETO */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:wght@100&display=swap');

/*  COMEÇANDO O MENU -----------------------------------------------------------------------*/

header {
    background-color: #fafafa;
    border-bottom: 1px solid #e9ecef;
}

/* TIRANDO OS EFEITOS DE LISTA */

li {
    list-style: none;
}

header a {
    color: #212a3f;
    text-decoration: none;
}

/* COLOCANDO ALTURA MÍNIMA NO MENU E ALINHANDO TODO O CONTEÚDO*/

.navbar-menu {
    min-width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 0.9rem;
    transition: all 0.6s ease-in-out;
}

.logo:hover{
    color: #e4339a;
    font-size: 1.4rem;
}

.nav-menu-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

/* CRIANDO A TRANSIÇÃO AO PASSAR O MOUSE NO MENU */

.nav-link-menu:hover {
    color: rgb(223, 28, 109);
}

/* ESCONDENDO O MENU HAMBÚRGUER */

.hamburguer {
    display: none;
    cursor: pointer;
}

/* CRIANDO O DESENHO EM CSS DO MENU HAMBÚRGUER */

.bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #212a3f;
    transition: all 0.3s ease-in-out;
}

/* BOTÃO DE LOGIN NO NAVEGADOR */

.btn1 {
    cursor: pointer;
    border: none;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background: rgb(223, 28, 109);
    opacity: 70%;
    color: #fff;
    transition: all 0.7s ease-in-out;
}

.btn1:hover {
    opacity: 100%;
}

/* ESTILIZANDO A ÁREA DE LOGIN --------------------------------------------------------------------------------------------*/

.overlay-menu {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    overflow-x: hidden;
    background: rgb(255,255,255);
    transition: all 0.5s ease-out;


}

.overlay-content-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(22, 22, 22);
}


.container-login {
    background-color: whitesmoke;
    padding: 2px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgrey;
  }
  
form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 100%;
  }
  
.buttonsForm {
    margin-top: 20px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 rgb(223, 28, 109);
}
  
.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}
  
.btnColor {
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #dd3e9b, #e494c3);
    border-radius: 30px;
    transition: .3s;
}
  
input[type="text"], input[type="password"], #region {
    border: none;
    margin-top: 15px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    transition: e;
}

#numero, #endereco, #bairro, #cidade {
    border: 1px solid rgb(158, 157, 157);
} 

button[type="submit"] {
    background: #e459aa;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}
  
.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}
  
#signin {
    left: 25px;
}
  
#signup {
    left: 450px;
    
}
  
i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}
  
.iEmail {
    top: 15px;
}
  
.iPassword {
    top: 70px;
}

.closebtn {
    position: absolute;
    top: 0px;
    right: 80px;
    font-size: 60px;
    text-decoration: none;
    color: #212a3f;
    transition: all 0.5s ease-in;

}

.closebtn:hover{
    color: rgb(223, 28, 109);
}


/* ESTILIZANDO MEU BANNER --------------------------------------------------------- HOME---------------------*/

main {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fafafa;
    transition: all 0.4s;
}

aside {
    width: 75%;
}

article {
    width: 25%;
}

.banner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #343a40;
    padding: 20px;
}

.banner .texto h1 {
    margin-bottom: 10px;
    transition: all 0.4s;
}

.banner .texto strong {
    background-color: #e459aa;
    color: #fff;
    padding: 5px;
}

.banner h1 {
    font-size: 50px;
    transition: all 0.4s;
}

.banner p {
    font-size: 20px;
    line-height: 30px;
    transition: all 0.4s;
}


.banner input {
    width: 39%;
    height: 40px;
    background-color: rgb(223, 28, 109);
    color: #fff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    opacity: 70%;
    margin-top: 20px;
    transition: 0.4s;
}

.banner input:hover {
     opacity: 100%;
}


.imagem-banner img {
    width: 90%;
    padding-right: 20px;
    filter: drop-shadow(8px 8px 4px #808386);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%{
     transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

/*  ÁREA DE NOSSOS PROFISSIONAIS ---------------------------------------------------------------------- HOME---------------------*/

.nossos-sv {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f5f5f5;
    color: #212a3f;
}

.img-sv {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px 0px 10px;
}

.img-sv img {
    width: 100%;
}


.form-sv {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}

.form-sv h2 {
    font-size: 2rem;
}

.form-sv #profissioanais {
    width: 100%;
    height:30px;
    background-color: #dee2e6;
    border: 1px solid #f8f9fa;
    border-radius: 15px;
    padding-left: 5px;
    color: #495057;
    margin-bottom: 10px;
}

.btn-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input[value="Procurar"] {
    width: 30%;
    height: 40px;
    background-color: rgb(223, 28, 109);
    color: #fff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    opacity: 70%;
    transition: 0.4s;
}

input[value="Procurar"]:hover {
    opacity: 100%;
}

/* ÁREA DE NOTICIAS */

.container-news{
    margin: 50px;
    z-index: 1;
}

.btn-primary {
    background-color: #e459aa;
    border-color: #e459aa;
}

.btn-primary:hover{
    background-color: #e4339a;
    border-color: #e459aa;
}

/* FOOTER */

.container-footer{
    max-width: 100%;
    max-height: 40px;
}

/*  RESPONSIVIDADE */

@media (max-width:800px) {

    /* MENU HAMBURGUER */
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-menu{
        width: 100%;
        position: relative;
        background-color: white;

    }

    .nav-menu-menu {
        position: fixed;
        left: -100%;
        top: 71px;
        padding: 10px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #212a3f;
        border-bottom: px solid rgb(223, 28, 109);
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 200px;
        transition: 0.3s;
    
    }

    .nav-item-menu {
        margin: 16px 0;
    }

    .nav-link-menu {
        color: #dee2e6;
    }

    .nav-menu-menu.active {
        left: 0;
    }

    .closebtn {
        position: absolute;
        top: 0px;
        right: 80px;
        font-size: 25px;
        text-decoration: none;
        color: #212a3f;
        transition: all 0.5s ease-in;
        z-index: 9;
        
    }
    /* PARTE DO BANNER  - HOME */

    main {
        height: 600px;
    }

    aside {
        width: 100%;
    }
    .banner {
        padding: 20px 20px 20px 20px;
    }

    .banner h1 {
        font-size: 45px;
    }

    .banner p {
        font-size: 26px;
    }

    article {
        display: none;
    }

    /* PARTE DOS NOSSOS PROFISSIONAIS - HOME */
    .nossos-sv {
        display: flex;
        height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-sv {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .form-sv {
        width: 90%;
        padding: 10px 0px 0px 0px;
    }

    .slide p {
        padding: 0 20px;
      }
    
    .nav-btn {
        display: none;
      }

    
    /* FOOTER */
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
}

